.navbar {
    display: flex;
    justify-content: space-between;

    background-color: lightblue;
    padding: 10px;
}

.navbar h2 {
    margin: 0;
    cursor: pointer;
}

.navbar h2:hover {
    color: blue;
}